@charset "UTF-8";

.cover1{
  background:url(../img/greendrink.png);
  background-size:cover;
}

.cover{
  background:url(../img/child-laugh.png);
  background-size:cover;
}

.container{
  background-color:white;
  opacity:0.7;
}

.face{
  height:90%;
  width:90%;
}







/* html{
  font-size:100%;
}


body{
  font-family: 'Kosugi Maru', sans-serif;
  line-height:1.7;
  color:#432;
}

a{
  text-decoration:none;
}

img{
  max-width: 100%;
}

.logo{
  width:100px;
  margin-top:14px;
}

.main-nav{
  display:flex;
  font-size:1.25rem;
  text-transform:uppercase;
  margin-top:34px;
  list-style:none;
}

.main-nav li{
  margin-left:36px;
}

.main-nav a{
  color:#432;
}

.main-nav a:hover{
  color:#0bd;
}

.page-header{
  display:flex;
  justify-content: space-between;
}

.wrapper{
  max-width:1100px;
  margin:0 auto;
  padding:0 4%;
} */